# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.gcloudignore
.git
.gitignore
README.md
.env
.env.*
!.env.example
node_modules
.svelte-kit
build
coverage
.vscode
.idea
*.log
.DS_Store
tests
*.test.ts
*.test.js
*.spec.ts
*.spec.js
vite.config.ts.timestamp-*

